<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= pageTitle %></title>
        <!-- <link rel="stylesheet" href="/css/coins.css"> -->
    </head> 

        <body>
            <main>
                <h1>This is the Coin Index Page !!</h1>
            </main>

            <ul>
                <% coins.forEach( coin => { %> 
                <li> <%= coin.name %> </li>
                <p><%= ` Open: ${coin.open}$` %> </p>
                <p><%= ` Close: ${coin.close}$` %> </p>
                <p><%= ` High: ${coin.high}$` %> </p>
                <p><%= ` Low: ${coin.low}$` %> </p>
                <p><%= ` Volume: ${coin.volume}$` %> </p>
                <p><%= ` Market Cap: ${coin.marketCap}$` %> </p>
                <hr>
                <% }); %> 
            </ul>

        </body>


</html>