<%- include('../views/includes/head.ejs') %>
</head>

    </head> 

        <body>
            <main>

            <div class="col-lg-12">
                <div class="title d-flex mr-2 mt-4 flex-row justify-content-between">
                <h1 class="floating">Are we mooning today?🚀</h1>
                <a href="investments">+Your Investments</a>
              </div>
              <div class="cards-border row m-2 d-flex justify-content-center">
                <% coins.forEach(coin => {%>
                  <div class="card d-flex flex-column justify-content-between col-4-auto mr-4 ml-4 mb-4">
                    <div class="card-main d-flex flex-column justify-content-center align-items-center">
                      <h1><%= coin.name %></h1>
                      <% if (coin.name == "Ethereum") {%>
                        <img src="../images/ethereum-logo.png" alt="Ethereum" class="logos">        
                      <%} else if (coin.name === "Binance Coin") {%>
                        <img src="../images/binance-coin-logo.png" alt="Binance Coin" class="logos">
                      <% } else if (coin.name === "Bitcoin Cash") { %> 
                        <img src="../images/bitcoin-cash-logo.png" alt="Bitcoin Cash" class="logos">
                      <% } else if (coin.name === "XRP") { %> 
                        <img src="../images/xrp-logo.png" alt="Ripple" class="logos">
                      <% } else if (coin.name === "Cardano") { %> 
                        <img src="../images/cardano-logo.png" alt="Cardano" class="logos">
                        <% } else if (coin.name === "Litecoin") { %> 
                          <img src="../images/litecoin-logo.png" alt="Litecoin" class="logos">
                        <% } else if (coin.name === "Bitcoin") { %> 
                          <img src="../images/bitcoin-logo.png" alt="Bitcoin" class="logos">
                        <% } else if (coin.name === "Tether") { %> 
                          <img src="../images/tether-logo.png" alt="Tether" class="logos">
                        <% } else if (coin.name === "Polkadot") { %> 
                          <img src="../images/polkadot-logo.png" alt="Polkadot" class="logos">
                        <% } else if (coin.name === "Chainlink") { %> 
                          <img src="../images/chainlink-logo.png" alt="Chain Link" class="logos"></img>
                        <% } else if (coin.name === "THETA") { %> 
                          <img src="../images/theta-logo.png" alt="Theta" class="logos">
                        <% } %> 
                        <h2> <%=coin.close%> </h2>
                    </div>
                    <div class="card-market d-flex justify-content-center align-items-center justify-content-around">
                      <div class="numbers d-flex flex-column align-items-center">
                        <p class="stats-title">Open</p>
                        <p class="stats"> <%=coin.open%> </p>
                      </div>
                      <div class="numbers d-flex flex-column align-items-center">
                        <p class="stats-title">High</p>
                        <p class="stats"><%=coin.high%></p>
                      </div>
                      <div class="numbers d-flex flex-column align-items-center">
                        <p class="stats-title">Low</p>
                        <p class="stats"><%=coin.low%></p>
                      </div>
                      <div class="numbers d-flex flex-column align-items-center">
                        <p class="stats-title">Volume</p>
                        <p class="stats"><%=coin.volume%></p>
                      </div>
                      <div class="numbers d-flex flex-column align-items-center">
                        <p class="stats-title">Market Cap</p>
                        <p class="stats"><%=coin.marketCap%></p>
                      </div>
                    </div>
                  </div>
                <%});%>
              </div>
             
              
               <div class="note d-flex mr-2 mt-4 flex-row justify-content-end ">
                   <h6> PS: The Prices Shown are for the daily candle closes not the actual price! -sorry 😢 </h6>
               </div>
              
              </div>
            </main>
 <%- include('../views/includes/end.ejs') %>