<%- include('../views/includes/head.ejs') %>
<link rel="stylesheet" href="css/investments.css">
    </head> 

        <body>
        <div class="col-lg-12">
            <main>
                <div class= "d-flex mr-2 mt-4 flex-row justify-content-end">
                    <a href="/new-investment" class="btn-main"> Add an Investment</a>
                </div>
                <h3>Your Crypto Assets 🪙</h3>
                <div class="cards-border">
                <table class = "table">
                <thead> 
                    <tr>
                    <th scope="col" >Cryptocurrency</th>
                    <th scope="col">Closing Price</th>
                    <th scope="col">Total Invested($)</th>
                    <th scope="col">Coin Holdings</th>
                    <th scope="col">Average Price Bought at</th>
                    <th scope="col">Profit/Loss(%)</th>
                    <th scope="col">Gains($)</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (const [key, value] of Object.entries(userInvestments)) { %>
                    <tr class="cards-border-invest">
                      <th scope ="row"><%= key %> <%=value.symbol %></th>
                      <% totalQuantityOwned = value.quantity.reduce((a,b) => a+b)  %>
                      <% averagePriceBoughtAt = value.totalInvested / totalQuantityOwned %>
                      <td class="closing-price"><%= new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}).format(value.closingPrice) %></td>
                      <td><%= `${new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}).format(value.totalInvested)}$` %></td>
                      <td><%= totalQuantityOwned %></td>
                      <td class="bought-price"><%=new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}) .format(averagePriceBoughtAt)%></td>
                      <% profitPercentage = ((value.closingPrice / averagePriceBoughtAt)) %>
                      <% dollarGains = (totalQuantityOwned * (value.closingPrice - averagePriceBoughtAt)) %>
                      <td><%=  profitPercentage > 1 ? `+${new Intl.NumberFormat({style: 'percent', minimumFractionDigits: 1}).format(Math.abs(profitPercentage) * 100)}%` : `-${new Intl.NumberFormat({style: 'percent', minimumFractionDigits: 1}).format(Math.abs(profitPercentage))}%` %></td>
                      <td><%=  profitPercentage > 1 ? `${new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}).format(Math.abs(dollarGains))} 🚀`  : `${new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}).format(Math.abs(dollarGains))} 😭` %></td>
                      <td><a href= "/investments-show/<%= value.coinId %>" > View</a> %></td>
                    </tr>
                   <% }; %>
                 </tbody>
                </table>
                </div>
                <div class="note d-flex mr-2 mt-4 flex-row justify-content-end ">
                    <h6> PS: Happy HODL'ING 😉 </h6>
                  </div>
               </div> 
            </main>
        </div>
        </body>


</html>