<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= pageTitle %></title>
        <!-- <link rel="stylesheet" href="/css/coins.css"> -->
    </head> 

        <body>
            <main>
                <h1>This is the User's Investment Page !!</h1>
                <a href="/new-investment"> Add an Investment</a>
            </main>
            <%= console.log(userInvestments) %> 
            <% investments.forEach(investment => { %>

                <p><%= investment.coin.name %> </p>
                <p><%= investment.coinPrice %> </p> 
                <p><%= investment.quantity %> </p>
                <a href="/edit-investment/<%= investment.id %> "> Edit</a>
                <form action="/delete-investment" method="POST">
                    <input type="hidden" value="<%= investment.id %>" name="investmentId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            <% }); %> 
            <p></p>
        </body>


</html>