<%- include('../views/includes/head.ejs') %>
<link rel="stylesheet" href="/css/investments.css">
    </head> 

        <body>
            <main>
                <h1>Your investments</h1>
                <div class="col-lg-12">
                    <table class = "table show">
                      <thead>
                        <tr>
                          <th scope="col" >Date Bought at</th>
                          <th scope="col">Price</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="cards-border-invest">
                        <h1 class="crypto-asset-name show-name"> Here is where the coin name Should be!</h1>
                        <% investments.forEach( investment => {%>
                          <% c_name = investment.coin.name %>
                          <th scope ="row"><%= new Intl.DateTimeFormat('en-GB',{year: 'numeric', month:'numeric'}).format(investment.createdAt) %></th>
                          <td><%= investment.coinPrice %></td>
                          <td><%= `${investment.quantity} ${investment.coin.symbol}` %></td>
                          <td>
                            <div class="d-flex justify-content-center align-items-center">
                            <a href="/edit-investment/<%= investment.id %>" class="closing-price"> Edit</a>
                            <form action="/delete-investment" method="POST">
                              <input type="hidden" value="<%= investment.id %>" name="investmentId">
                              <button class="closing-price delete" type="submit">Delete</button> </form>
                          </div>
                          </td>
                        </tr>
                       <% }); %>
                     </tbody>
                    </table>
                    <div class= "d-flex mr-2 mt-4 flex-row justify-content-center">
                        <a href="/investments" class="btn-main"> Back to Investments</a>
                    </div>
                     </div>    
            </main>
        </body>
</html>